{% if page.share == true %}

<div class="share-bar">
  <ul class="share-buttons">  
    
    {% if site.share.email %}
    <li class="share-envelope">
      <a href="mailto:?&subject={{page.title}}&body={{page.description | append: ' ' | append: site.url | append: page.url}}" target="_blank" title="Email">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-envelope-o fa-stack-1x"></i>
        </span>
      </a>
    </li>
    {% endif %}

  </ul>
</div>
{% endif %}
